@model SalesProject.Domain.Entities.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Novo</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateRegistration" class="control-label"></label>
                <input asp-for="StateRegistration" class="form-control" />
                <span asp-validation-for="StateRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opening" class="control-label"></label>
                <input asp-for="Opening" class="form-control" />
                <span asp-validation-for="Opening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientSince" class="control-label"></label>
                <input asp-for="ClientSince" class="form-control" />
                <span asp-validation-for="ClientSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MunicipalRegistration" class="control-label"></label>
                <input asp-for="MunicipalRegistration" class="form-control" />
                <span asp-validation-for="MunicipalRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
